
 <div style="margin: auto; width:700px; padding-top: 40px;" >
    <h1>Update DAISY or EPUB Book Image Descriptions</h1>
    </br>
    <p>
    To insert image descriptions into a DAISY or EPUB book from the Bookshare library, follow these steps:
    </p>
    <ol>
    <li>Click the Browse (or Choose File) button below, and select a DAISY or EPUB book (zip) file from your local drive to process.</li>
    <li>If the book is password protected, enter your password in the field.</li>
    <li>Click the Process button.</li>
    </ol>
    <p>
    Any existing image descriptions will be added to the book,
    and the book will be returned to you as a new DAISY or EPUB book (zip) file.
    </p> </br>

    <%= form_tag("/daisy_book/submit_to_get_descriptions", {:multipart => true}) do %>
    <p><label for="upload_file">Select DAISY or EPUB book file</label> :
    <%= file_field_tag 'book' %> </p>
    <p><label for="upload_file">Enter password (if needed)</label> :
    <%= password_field_tag 'password' %> </p>
    <%= submit_tag "Process" %>
    <% end %>
 </div>