<h3>Vertical list of images</h3>
<% @images.each do | image | %>
<img style="border:1px solid black; padding:0.25em; font-size: 80%;" height='180px' width='240px' src='<%= image %>'></img>
<hr/>
<% end %>