.download_link
  Your request is being processed. When complete, a link will appear for you to click to download the file.


:javascript
  function doPoll(){
    $.get('#{poll_daisy_with_descriptions_path(:job_id => @job.id)}', function(data) {
      console.log("Have results");
      console.log(data);
      console.log("Not Complete:");
      console.log(data == 'Not Complete');
      console.log("Complete:");
      console.log(data == 'Complete');
      if(data == 'Complete') {
        $('.download_link').html("<a href='#{download_daisy_with_descriptions_path(:job_id => @job.id)}'> Click to download the book with updated image descriptions. </a>");
      }
      else if(data == 'Error') {
        // TODO ESH: add an error message back to the user 
        console.log("Error")
      }
      else {
        setTimeout(doPoll, 500);
      }
    });
  }
  doPoll();