<h1>Daisy Book Upload</h1>
<p>Choose a Daisy book (zip) file to upload.
</p>
<p>
After uploading the book file, you will see the contents and will have the ability 
to add or edit image descriptions.
</p>

<%= form_tag("/daisy_book/submit", {:multipart => true}) do %>
<p><label for="upload_file">Select Daisy book file</label> : 
<%= file_field_tag 'book' %> </p>
<p><label for="upload_file">Enter password (if needed)</label> :
<%= password_field_tag 'password' %> </p>
<%= submit_tag "Upload" %>
<% end %>

