<h2>Sign up</h2>

<% semantic_form_for  @user, :as => resource_name, :url => registration_path(resource_name) do |f| %>
<%= devise_error_messages! %>
<% f.inputs "New User Sign Up" do %>
<%= render :partial => "users/form", :locals => {:f => f} %>
<%= f.submit "Sign up" %>
<% end %>
<% end %>
<%= render :partial => "devise/shared/links" %>
