<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p>
      You have successfully uploaded the book <%= @book.title %>.<br/>
    </p>
    </p>
    <p>Thanks!</p>
  </body>
</html>