<h1>File Upload</h1>
<%= form_tag("update_descriptions_in_book/upload", {:multipart => true}) do %>
<p><label for="upload_file">Select Book File</label> : 
<%= file_field_tag 'book' %></p>
<%= submit_tag "Upload" %>
<% end %>
