<h1>Update Descriptions</h1>
<p>Choose a Daisy book content XML file to upload. 
The file will be returned with all available image descriptions added.
If the book has already had image descriptions added, 
this will update them to the latest available versions of the descriptions.
</p>

<%= form_tag("/update_descriptions_in_book/upload", {:multipart => true}) do %>
<p><label for="upload_file">Select Book File</label> : 
<%= file_field_tag 'book' %></p>
<%= submit_tag "Upload" %>
<% end %>
