<p id="notice"><%= notice %></p>

<p>
  <%= @dynamic_description.body %>
</p>


<!-- <%= link_to 'Edit', edit_dynamic_description_path(@dynamic_description) %> |
<%= link_to 'Back', dynamic_descriptions_path %>  -->
