<h1>Listing book_fragments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_fragments.each do |book_fragment| %>
  <tr>
    <td><%= link_to 'Show', book_fragment %></td>
    <td><%= link_to 'Edit', edit_book_fragment_path(book_fragment) %></td>
    <td><%= link_to 'Destroy', book_fragment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book fragment', new_book_fragment_path %>
