 <div style="margin: auto; width:700px; padding-top: 40px; padding-bottom: 40px">
<BODY>
<span style='font-size:11.0pt;color:#345A8A'>Poet Website Terms of Service </span>
</br>

</p>
<P STYLE="margin-bottom: 0.14in">Beneficent Technology, Inc.
(“Benetech”), the developer of the Poet software and operator of
this Poet website (the “Website”), has created this website and
the materials available on the Website to be used to add
accessibility features to otherwise inaccessible image content, for
educational purposes and especially for the benefit of people with
disabilities.  
</P>
<P STYLE="margin-bottom: 0.14in">More and more published content
contains images, charts and graphics.  Such images are often more
difficult to understand than plain text, especially for people who
have difficulty using images because of disability, such as blind
people.  The Poet tool was created by the DIAGRAM Center, a research
and development effort of experts and organizations in the field of
accessibility, in order to make it easier and less costly to add
image descriptions and digital tactile graphics files to inaccessible
images.  The Poet tool accepts the upload of electronic books
(eBooks) that include images, and provides the ability to add or
modify image descriptions and related metadata (i.e., the target age
or grade of the material), as well as add or link to a version of the
image suitable for producing a tactile graphic.  An improved eBook
can then be downloaded by the user who uploaded the initial eBook, as
well as being made available via Bookshare for use by print disabled
individuals who would benefit from accessibility enhancements, or to
produce accessible versions of such books in other forms, such as the
creation of braille versions of materials. The Poet tool also
provides users with access to previously created image descriptions,
to allow new image descriptions to be created more quickly by finding
and editing an existing image description on a similar topic (say, a
diagram of a heart or a graph of a mathematical function).  The Poet
tool is intended to improve accessibility for all people around the
world, but it is not intended to facilitate copyright infringement. 
Benetech will, in appropriate cases, assist publishers and copyright
owners in investigations of apparent instances of infringing uses. By
selecting “I agree” below, you and the organization for which you
work, agree to the following terms and conditions governing use of
the Poet online Website:</P>
<OL>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Legal uses only.</B> You
	represent that you are using this Website primarily to improve
	accessibility and educational materials for people with disabilities
	or other disadvantages that affect their ability to access
	information in image form.  You represent that you will not
	knowingly use the Poet Website or any content obtained from the
	Website for illegal copying of copyrighted materials.  
	</P>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Benetech Volunteers: status
	and protection.</B>  If you are volunteering to help Benetech make
	images accessible for people with disabilities, abide by the
	restrictions in these Terms of Service, and do not make use of any
	copyrighted content on the Website other than pursuant to such
	volunteer accessibility work, you have additional protections as a
	volunteer for Benetech. As such a volunteer, you are hereby
	appointed as an agent of Benetech for the purposes of carrying out
	its educational and charitable activities of making content
	accessible to people with disabilities under Section 121 of the
	federal copyright law. You agree to follow direction from Benetech
	staff on best practices for image accessibility work, as well as not
	doing any of the following:</P>
	<UL>
		<LI><P STYLE="margin-bottom: 0.14in">Editorializing or expressing
		an opinion about image content (or textual content of the book),
		rather than just making the image accessible through factual
		descriptions</P>
		<LI><P STYLE="margin-bottom: 0.14in">Wholesale copying of text from
		the underlying work into the description, unless it is purely
		functional (as in describing a formula or geometric figure)</P>
		<LI><P STYLE="margin-bottom: 0.14in">Copying the caption into the
		description unmodified</P>
	</UL>
	<LI><P STYLE="margin-bottom: 0.14in"><B>General Accessibility Uses.</B>
	 If you are not acting solely as a Benetech volunteer as described
	in Section 2 above, you may also use the Poet Website to create,
	find and adapt accessible content.  You hereby represent that
	content that you <I>download</I> from the site will only be used in
	ways that are legally permissible.  For example:</P>
	<UL>
		<LI><P STYLE="margin-bottom: 0.14in">For use by publishers, authors
		and illustrators for making their own content more accessible. 
		</P>
		<LI><P STYLE="margin-bottom: 0.14in">For use by a specific person
		with a disability   
		</P>
		<LI><P STYLE="margin-bottom: 0.14in">For use by people with
		disabilities served by your educational institution or agency, as
		permitted by existing agreements with the publisher and/or author,
		or as permitted by state or national law</P>
		<LI><P STYLE="margin-bottom: 0.14in">For use by anyone, if the
		original eBook and accompanying images were in the public domain or
		licensed under an open content license such as a Creative Commons
		license, but only if such license permits the creation of
		derivatives, and subject to the terms of such licenses in terms of
		redistribution. 
		</P>
	</UL>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Uploaded content.</B>  You
	hereby represent that any digital content that you <I>upload </I>to
	the Poet Website has been legally obtained by you or your
	organization. Examples of legal uses:</P>
	<UL>
		<LI><P STYLE="margin-bottom: 0.14in">Making a purchased or licensed
		textbook accessible for a student with a disability.</P>
		<LI><P STYLE="margin-bottom: 0.14in">Modifying content licensed
		under a Creative Commons license, or content available in the
		public domain.</P>
		<LI><P STYLE="margin-bottom: 0.14in">Improving content that is
		created, owned or licensed by the person or organization uploading
		the content.</P>
	</UL>
</OL>
<OL START=5>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Permitted activities.</B>
	You will use the Poet Website only for the following activities<!-- Do we need to add something explicit about altering other metadata (outside of the description)? Or is the term description used broadly?
 -->:</P>
	<UL>
		<LI><P STYLE="margin-bottom: 0.14in">Adding image descriptions or
		metadata to make displayed images more accessible.</P>
		<LI><P STYLE="margin-bottom: 0.14in">Modifying image descriptions
		or metadata to correct errors, or to make the description more
		usable or understandable for a disadvantaged person.</P>
		<LI><P STYLE="margin-bottom: 0.14in">Adding, linking or improving
		tactile graphic adaptations in the Scaled Vector Graphic format,
		which are suitable for being converted later into physical tactile
		graphics.</P>
		<LI><P STYLE="margin-bottom: 0.14in">Adapting an existing image
		description or tactile graphics file originally created to make one
		image accessible to making another image accessible.   
		</P>
		<LI><P STYLE="margin-bottom: 0.14in">Finding accessible versions of
		images of interest, where such accessible images are available
		under a Creative Commons license or are in the public domain. 
		</P>
	</UL>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Prohibited activities.</B> 
	You agree that you will not:</P>
	<UL>
		<LI><P STYLE="margin-bottom: 0.14in">Distribute downloaded content
		from the Website to people or organizations that would not have
		been otherwise entitled to utilize or access the content.  For
		example, you cannot take proprietary copyrighted content and make
		it available for free or commercial copying or use on the Internet.</P>
		<LI><P STYLE="margin-bottom: 0.14in">Use downloaded image
		descriptions of copyrighted images to attempt to recreate the
		original copyrighted images.  For example, if a copyrighted image
		contains seven pink elephants and twelve blue pigs, you will not
		try to recreate an image that has seven pink elephants and a dozen
		blue pigs.  However, this is not intended to exclude images that
		are purely functional or factual in nature, such as depictions of
		mathematical expressions (y = x squared plus three) or common
		objects (a tree has roots, a trunk, branches and leaves).  
		</P>
	</UL>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Not legal advice.</B>  You
	understand and agree that Benetech is not providing you with legal
	advice on your use of the Poet Website or its content, and
	acknowledge that Benetech is hereby advising you to consult with
	your own legal counsel if your use of the Poet Website falls outside
	of the uses described above in Sections 2 and 3.  
	</P>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Copyright assignment.</B> 
	While Benetech believes that adding image descriptions and/or
	creating tactile graphics files generally does not create
	copyrightable new content, you hereby agree and do assign any
	interests, under copyright or any other intellectual property laws
	or regimes, in image descriptions or tactile graphics files that you
	create or modify to Benetech, with no fee or royalty due from
	Benetech or other Poet users for such an assignment and right to use
	such image descriptions and/or tactile graphics.  Note that this
	assignment does not apply to the original copyrighted images, the
	copyright for which, of course, remains with the original
	rights-holders.</P>
	<LI><P STYLE="margin-bottom: 0.14in"><B>International law.</B> 
	Benetech represents only that we believe that this Website, operated
	in compliance with these terms of service, is being operated in
	compliance with U.S. law.  You are responsible for respecting and
	complying with laws outside the U.S. if you are using this Website
	from elsewhere, or are permitting persons outside the U.S. to access
	content from this Website. 
	</P>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Privacy Policy.</B>  Please
	visit our Bookshare Privacy Policy, located at
	<A HREF="https://www.bookshare.org/about/privacy/search"><span
	style='font-size:10.0pt;color:#345A8A'>https://www.bookshare.org/about/privacy/search</span></A>,
	which also governs your use of the Website, to understand how we
	collect and use information about you. If you are outside the United
	States, you understand and agree that by providing the Website any
	information about yourself, you are consenting to the transfer of
	that information to the United States. 
	</P>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Copyright Infringement.  </B>If
	you become aware of any content obtained through the Poet Website
	being illegally copied by third parties, you agree to promptly
	inform Benetech of such illegal copying. In addition, you agree to
	cooperate with Benetech in cases where Benetech is investigating
	possible copyright infringements.  
	</P>
	<LI><P STYLE="margin-bottom: 0.14in"><B>Changes to these Terms.</B> 
	If we change these Terms of Use, we will post those changes on our
	Website so our users are always aware of our current Terms of Use. 
	Your continued use of this Website indicates your consent to the
	most current terms, as they may exist from time to time.  Since
	copyright law is a dynamic field of law, there will undoubtedly be
	changes over time.</P>
</OL>
</div>
</BODY>
