<div style="margin: auto; width:650px;" >
<h1>Welcome to the DIAGRAM project</h1>

    <ol>
        <li><a href="/upload_book/upload">Upload a Daisy book to enter image descriptions</a></li>
        <li><a href="/daisy_book/process">Update your book with the latest image descriptions</a></li>
    </ol>



</div>