<div style="margin: auto; width:650px;" >
<h1>Welcome to the DIAGRAM project</h1>

<h3>Upload</h3>
<form action="/upload_book/upload" method="get">
To upload a Daisy book, 
which will allow image descriptions to be added later, 
click Upload:
<input type="submit" value="Upload" />
</form>

<h3>Edit</h3>
<form action="/daisy_book/edit" method="get">
To enter descriptions for a Daisy book that was previously uploaded, 
enter the book uid here, and click Edit:
Book UID: <input type="text" name="book_uid"></input>
<input type="submit" value="Edit" />
</form>

<h3>Process a Book</h3>
<form action="/daisy_book/process" method="get">
To update your copy of a Daisy book
with the latest image descriptions, click Process:
<input type="submit" value="Process" />
</form>
</div>