
<div style="margin:auto;width:700px;">

    <%= render "shared/error_display" %>

<h3>Thank You! Your book is being processed.</h3>

Please give us 15 minutes to finish preparing your book. </br>
Copy the following book ID, <b><%= @book_uid%></b></br>
and enter it on the home page to edit image descriptions.

</br></br>
<a href="/">Back to home page</a>

</div>