<div style="margin:auto;width:650px;">
<h3>Thank You! Your book is being processed.</h3>

Please give us 15 minutes to finish preparing your book. </br>
Come back and enter this code, <b><%= @book_uid %></b> , to enter image descriptions

</div>