<div style="margin:auto;width:600px;">
<h3>Thank You! Your book is being processed.</h3>

Please give us 15 minutes to finish processing your book. </br>
Come back and remember this code: <b><%= @book_uid %></b> </br>
to enter image descriptions

</div>