


<h1>DAISY Book Upload </h1>
<p>
To add image descriptions to a DAISY book in the Poet library, follow these steps:
</p>
<ol>
<li>Click the Browse button (below) and choose a DAISY book (zip) file from your local drive.</li>
<li>If the book is password protected, enter your password in the field.</li>
<li>Click the Upload button.</li>
</ol>
<p>
After the upload process completes, you will need to remember the code displayed and follow the instructions.
</p>
</br>


<%= form_tag("/upload_book/submit", {:multipart => true}) do %>
<p><label for="upload_file">Select DAISY book file</label> :
<%= file_field_tag 'book' %> </p>
<p><label for="upload_file">Enter password (if needed)</label> :
<%= password_field_tag 'password' %> </p>
<%= submit_tag "Upload" %>
<% end %>

