
 <div style="margin: auto; width:700px; padding-top: 40px;" >
    <h1>Check Image Coverage</h1>
    </br>
    <p>
    To check image coverage for a DAISY<!-- or EPUB--> book, follow these steps:
    </p>
    <ol>
    <li>Click the Browse (or Choose File) button below, and select a DAISY<!-- or EPUB--> book (zip) file from your local drive to process.</li>
    <li>Click the Process button.</li>
    </ol>

    <%= form_tag("/image_book/check_image_coverage", {:multipart => true}) do %>
    <p><label for="upload_file">Select DAISY <!-- or EPUB-->book </label> :
    <%= file_field_tag 'book' %> </p>
    <%= submit_tag "Check" %>
    <% end %>
 </div>