%div{:class => "download_link", :style => "margin: auto; padding: 40px;"}

  %h3
    Thank You! Your book is being processed.
  
  %p
    Poet is inserting image descriptions back into
    %strong
      = @book_title
    \.
    Please give us up to 15 minutes to finish preparing your book.

  %p
    %img{:src => "/images/throbber.gif"}

:javascript
  function doPoll(){
    $.get('#{poll_file_with_descriptions_path(:job_id => @job.id)}', function(data) {
      console.log("Have results");
      console.log(data);
      console.log("Not Complete:");
      console.log(data == 'Not Complete');
      console.log("Complete:");
      console.log(data == 'Complete');
      if(data == 'Complete') {
        $('.download_link').html("<h3>Download your book</h3><p>Click the provided link to download your updated book.</p><p><a href='#{download_with_descriptions_path(:job_id => @job.id, :file_type => @file_type)}'><strong>#{@book_title}</strong></a>");
      }
      else if(data == 'Error') {
        // TODO ESH: add an error message back to the user 
        console.log("Error")
      }
      else {
        setTimeout(doPoll, 500);
      }
    });
  }
  doPoll();