<% size = @descriptions.size %>
<% @descriptions.each_with_index do |description, i| %>
    <div style="padding: 6px; "><%= description.body.html_safe %></div>
    <div style="background-color:#eeeeee; font-style:italic;">by <%=description.submitter %> at <%=description.created_at.to_s(:poet_default_dt) %></div>
<% end %>


