 <div style="margin: auto; width:700px; padding-top: 40px;" >

    <h1>Welcome to the Poet Image Description Tool</h1>
    </br>
    </br>

    <form action="/edit_book/edit" method="get">
    To enter descriptions for a DAISY book that was previously uploaded,</br>
    enter the book ID, and click Edit.
    </br></br>
    Book ID: <input type="text" name="book_uid"/>
    <input type="submit" value="Edit" />
    </form>
    </br>
    </br>

</div>

