
<html>

<head>
<meta name=Title content="">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"Courier New";
	panose-1:2 7 3 9 2 2 5 2 4 4;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"MS Mincho";}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
    background-color: white;
	font-family:Calibri;}
h1
	{margin-right:0in;
	margin-left:0in;
	font-size:24.0pt;
	font-family:"Times New Roman";}
h2
	{margin-right:0in;
	margin-left:0in;
	font-size:18.0pt;
	font-family:"Times New Roman";}
a:link
	{color:blue;
	text-decoration:underline;}
a:visited
	{color:purple;
	text-decoration:underline;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Cambria;}
span.Heading1Char
	{font-family:"Times New Roman";
	font-weight:bold;}
span.Heading2Char
	{font-family:"Times New Roman";
	font-weight:bold;}
p.c8, li.c8, div.c8
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.c11, li.c11, div.c11
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center;line-height:normal'><a
name=1><b><span style='font-size:14.0pt;font-family:"Times New Roman";
color:#345A8A'>Bookshare Image Description Guidelines</span></b></a></p>

<p class=MsoNormal align=center style='text-align:center;line-height:normal'><b><span
style='font-size:9.0pt;font-family:"Times New Roman";color:#345A8A'>10/2012</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:14.0pt;
font-family:"Times New Roman";color:#345A8A'>In general,</span></b></p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Be as efficient with words and punctuation as possible (use
proper punctuation and grammar).</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Convey only the necessary information a student would be asked to
know, and what would be discussed in class. </p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Take the time to scroll through the text above and below an
image. If information in the image is adequately explained in the text or
caption, then simply write “image described in text/caption” in the description
box or mark the image as non-essential.  </p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>When the same image appears more than once, only describe the
first image.  Poet will replicate the description in duplicate images when the
book is processed into the Bookshare library.  </p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Don’t worry about interpreting subject matter content knowledge
from the image. This will occur naturally during the classroom instruction, and
the student with print disabilities will receive this information at the same
time as peers. The student should have the same opportunity as peers to develop
his/her own hypotheses/conclusions based on the image.</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Instead of using the word “image” in the description, convey more
meaningful information by identifying the type of image: photo, drawing,
cartoon, diagram, poster, etc.  </p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Bar and pie charts, tables, and some line graphs should be
identified as such with the title and axis. You may also use the “Editor” to
summarize the data in a table. </p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Flow charts should be presented with the title or what idea is
being conveyed. Information may be presented as a list.</p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:14.0pt;
font-family:"Times New Roman";color:#345A8A'>Determining if the image needs a
description</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;font-family:"Times New Roman";color:black'>While
images in your book should be tagged as essential or non-essential, there may
be cases where the images are all marked as essential (due to limited staff
resources).  Some images do not need to be described, however, and you may tag
them yourself as “non-essential” or just skip over them.  </span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;font-family:"Times New Roman";color:black'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;font-family:"Times New Roman";color:black'>They
include:  </span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt;font-family:"Times New Roman";color:black'>&nbsp;</span></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='color:black;margin-bottom:0in;margin-bottom:.0001pt;
     line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman"'>long
     series of text book author photos (simply write “series of text book
     author photos” at the first image </span></li>
 <li class=MsoNormal style='color:black;margin-bottom:0in;margin-bottom:.0001pt;
     line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman"'>images
     in the table of contents (start describing images at chapter one)</span></li>
 <li class=MsoNormal style='color:black;margin-bottom:0in;margin-bottom:.0001pt;
     line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman"'>duplicate
     images (after the first description, just leave them blank) </span></li>
 <li class=MsoNormal style='color:black;margin-bottom:0in;margin-bottom:.0001pt;
     line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman"'>banners
     and “window dressing” that don’t convey any educational content</span></li>
 <li class=MsoNormal style='color:black;margin-bottom:0in;margin-bottom:.0001pt;
     line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman"'>images
     already described in surrounding text or alt text.</span></li>
</ul>

<p class=MsoNormal style='line-height:normal'><a name=2><b><span
style='font-size:14.0pt;font-family:"Times New Roman";color:#345A8A'>&nbsp;</span></b></a></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:14.0pt;
font-family:"Times New Roman";color:#345A8A'>Image description basics</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Describe only what you see</span></b><b><span
style='font-size:13.0pt;font-family:"Times New Roman";color:#4F81BD'>.  </span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:black'>One&nbsp;<i>sees&nbsp;</i>physical
appearances and actions; one&nbsp;<i>does not see&nbsp;</i>motivations or
intentions.  </span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Describe objectively.  </span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:black'>Allow students
to form their own opinions and draw their own conclusions.  Don’t editorialize,
interpret, explain, or analyze the material.  </span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Go from the general to the
specific.  </span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
color:black'>Start by creating a general context, then move to details to
enhance understanding and appreciation.  The initial information presented
about a scene will create a foundation in the mind of the student on which to
build.  </span></p>

<p class=MsoNormal style='line-height:normal'><a name=3><b><span
style='font-size:13.0pt;font-family:"Times New Roman";color:#4F81BD'>Color.  </span></b></a><span
style='font-size:12.0pt;font-family:"Times New Roman";color:#222222'>The issue
of describing color has been frequently discussed among our volunteers and
members.  The general consensus is that color has emotional connotations even
for blind students, and that many students may be partially or previously
sighted, and therefore including color enhances their ability to better imagine
a scene.  Color descriptions should therefore be included for most images (e.g.
the blue sky or the green lizard).  The exception is for images such as charts
or maps (e.g. the blue bar or the red line) where color is irrelevant to the
teaching concept, and can be ignored in most cases.</span></p>

<p class=MsoNormal style='line-height:normal'><a name=4><b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:#345A8A'>Language. 
</span></b></a><span style='font-size:12.0pt;font-family:"Times New Roman";
color:black'>Image description is a literary art form. &nbsp;It's a type of
poetry, much like a haiku. We use words that are&nbsp;<u>succinct</u>, <u>vivid</u>,
and <u>imaginative </u>to convey visual images.  Think about getting as much
content into as few words as possible.  A great practice is to read your
descriptions aloud to yourself or another.  How do they flow when <i>heard</i>
vs. read.  </span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Point of View and NarrativeTense. 
</span></b><span style='font-size:12.0pt;font-family:"Times New Roman";
color:black'>Write in present tense, using active voice (e.g., “Ted breaks the
window,” is preferable to, “The window was broken by Ted.”) &nbsp;Use
third-person narrative style to show neutrality and noninterference.</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:13.0pt;font-family:"Times New Roman";
color:#4F81BD'>Describing emotions.  </span></b><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Limit the use of words describing
emotion, such as suspicious or furious. &nbsp;Ask yourself what you&nbsp;<i>see&nbsp;</i>that
prompts you to think that she looks suspicious or furious.  Instead, write what
you see, such as: “she raises her eyebrows”, or “her fists are clenched”.  You
may judiciously use phrases such as, “She appears pensive”, or “she appears
sad” if describing only facial expressions or body language is too limited.&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>“We See”</span></b><b><span
style='font-size:13.0pt;font-family:"Times New Roman";color:#4F81BD'>.  </span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:black'>Avoid using
visually related words or phrases such as “we see”, “shown below”, or “can be
viewed”.  Preferable words include “depicts”, “indicates”.</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><b><span style='font-size:13.0pt;font-family:"Times New Roman";
color:#4F81BD'>Mix it up</span></b><span style='font-size:12.0pt;font-family:
"Times New Roman";color:black'>.  How many different words can you use to
describe someone moving along a sidewalk? &nbsp; Why say &quot;walk&quot; when
you can more vividly describe the action, with words such as strolls, skips, stumbles,
or saunters?</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Pronouns</span></b><b><span
style='font-size:13.0pt;font-family:"Times New Roman";color:#4F81BD'>.  </span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:black'>Use pronouns
only when it is clear to whom or what the pronoun refers.</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Metaphor/Simile.  </span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:black'>Describe
shapes, sizes, and other essential attributes of images by comparison to
objects or items familiar to the intended audience.  For example, “The ball is
the size of an apple.”  Be sure to use metaphors that will be readily
identifiable by a blind student.  For example, “the room is as big as a whale”
is less helpful than the room is as big as a bus, since a blind student will
likely have had first-hand experience with a bus, but probably not a whale!</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:13.0pt;
font-family:"Times New Roman";color:#4F81BD'>Censorship</span></b><b><span
style='font-size:13.0pt;font-family:"Times New Roman";color:#4F81BD'>.  </span></b><span
style='font-size:12.0pt;font-family:"Times New Roman";color:black'>Don’t censor
information for personal reasons such as your discomfort with the material or
political beliefs.  Describers must objectively relay the visual elements of
nudity, sexual acts, violence, etc. &nbsp;Our members have the right to know
the critical visual material that is evident to sighted people and we have the
obligation to convey that material.  If you are uncomfortable with the material
in a book, please let us know and we’ll get you another assignment.</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:14.0pt;
font-family:"Times New Roman";color:#365F91'>Links to NCAM (National Center for
Accessible Media) image description examples:</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Bar Charts:</span></p>

<p class=MsoNormal style='line-height:normal'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exa"><span
style='font-size:12.0pt;font-family:"Times New Roman"'>http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exa</span></a></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Line Graphs:</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exb">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exb</a></span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Venn Diagrams:</span></p>

<p class=MsoNormal style='line-height:normal'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exc"><span
style='font-size:12.0pt;font-family:"Times New Roman"'>http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exc</span></a></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Scatter Plots:</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exd">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exd</a></span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Pie Charts:</span></p>

<p class=MsoNormal style='line-height:normal'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exf"><span
style='font-size:12.0pt;font-family:"Times New Roman"'>http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exf</span></a></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Flow Charts:</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exg">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exg</a></span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Standard Diagrams and Illustrations:</span></p>

<p class=MsoNormal style='line-height:normal'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exh"><span
style='font-size:12.0pt;font-family:"Times New Roman"'>http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exh</span></a></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>Complex Diagrams and Illustrations:</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exi">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exi</a></span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";'>Math Equations:</span></p>

<p class=MsoNormal style='line-height:normal'><a
href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/math_equations"><span
style='font-size:12.0pt;font-family:"Times New Roman"'>http://ncam.wgbh.org/experience_learn/educational_media/stemdx/math_equations</span></a></p>


<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman";color:black'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:14.0pt;
font-family:"Times New Roman";color:#365F91'>Thank you! </span></b></p>



<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
