<body>
 <div style="margin: auto; width:700px; padding-top: 40px; padding-bottom: 40px;" >

<h1><a name="PoetHelp-2.0-StepbyStepInstructions"></a><b>Poet Help</b></h1>

<h3 class='help'><a name="PoetHelp-2.0-RegisteringandSigningIntoPoet"></a>Registering and Signing In to Poet</h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> Open your Internet browser and go to the URL provided for Poet, or click on the <a href="http://poet.diagramcenter.org/" class="external-link" rel="nofollow">Poet link</a>. <br class="atl-forced-newline" />
If you are a new user, proceed to Step 2; if you are a returning user skip to Step 3. </td>
<td class='confluenceTd'> <span class="image-wrap" style=""><a class="confluence-thumbnail-link 560x371" href='https://wiki.benetech.org/download/attachments/56955450/Poet-Login.png'><img src="/images/help/Poet-Login-thumb.png" width="200" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2. </td>
<td class='confluenceTd'> Register on the Poet Image Description tool by clicking the Register link in the upper right corner of the screen.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
The Sign up screen appears. All the fields with asterisks * are required. &nbsp;Fill in First Name, Last Name, User Name, and your email address.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
Select one or more categories in Subject Matter Expertise. Add additional expertise in the Other Expertise field. <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
Select one of the libraries from the list, or if you are creating a new library then check the "Click to create a new library", and provide the name of new library in New Library field. <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
In the password field enter a password of at least 6 characters. Repeat the same password in the Password Confirmation field. <br class="atl-forced-newline" />
Once you are finished entering all the information click the Sign up button. <br class="atl-forced-newline" />
You are returned to the home page and a confirmation message is displayed if the registration is successful. &nbsp;If unsuccessful, an error message will indicate the corrective action to take. </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 739x655" href='/images/help/Poet-Signup.png'><img src="/images/help/Poet-Signup-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 3. </td>
<td class='confluenceTd'> Sign in to Poet by clicking the Sign In link in the upper right corner of the screen. The Sign in screen appears. Fill in your username and password, then click the Sign in button. <br class="atl-forced-newline" />
You are returned to the home page and a confirmation message is displayed if the sign in is successful. If unsuccessful, an error message will indicate the corrective action to take. </td>
<td class='confluenceTd'> <span class="image-wrap" style=""><a class="confluence-thumbnail-link 1279x683" href='/images/help/Welcome_Poet.png'><img src="/images/help/Welcome_Poet-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
</tbody></table>
</div>


<h3 class='help'><a name="PoetHelp-2.0-UploadingaDAISYBooktothePoetServer"></a><b>Uploading a DAISY Book to the Poet Server</b></h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> After signing in, you are at the home page. </td>
<td class='confluenceTd'> The Poet Welcome page: <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 1279x683" href='/images/help/Welcome_Poet.png'><img src="/images/help/Welcome_Poet-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2. </td>
<td class='confluenceTd'> Unless you have been assigned a book already uploaded into Poet, you must upload your DAISY file to the server. <br class="atl-forced-newline" />
Click the Upload link on the Home page to access the DAISY Book Upload page. <br class="atl-forced-newline" />
<b>Note</b>: To do this, your DAISY book must have been previously downloaded to your computer from your digital book library. <br class="atl-forced-newline" />
To select your DAISY file, click on the Browse (or Choose file) button. </td>
<td class='confluenceTd'> The DAISY Book Upload page: <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 1275x548" href='/images/help/Upload New Book.png'><img src="/images/help/Upload New Book-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" />
<br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 3. </td>
<td class='confluenceTd'> A file selection dialog box will open showing your computer's file structure. <br class="atl-forced-newline" />
Locate and select your DAISY file, then click Open. You are returned to the DAISY Book Upload page with the file name populated. <br class="atl-forced-newline" />
If the file is password protected, enter it in the password field. </td>
<td class='confluenceTd'> File Upload dialog box (Mac appearance): <br class="atl-forced-newline" /> <span class="image-wrap" style="float: right"><img src="/images/help/FileBrowse-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 4. </td>
<td class='confluenceTd'> Click the Upload button on the DAISY Book Upload page. <br class="atl-forced-newline" />
This will upload your DAISY file to the server. You may need to allow up to 15 minutes for the upload process to complete, depending on the size of the book and the number of images it contains. <br class="atl-forced-newline" />
<b>Note</b>: Be sure to record the book ID number presented in the confirmation message (the book ID number is a variation of the book's ISBN). <br class="atl-forced-newline" />
Click the Home link to return to the Poet home page. </td>
<td class='confluenceTd'> A confirmation message and unique book ID code are presented: <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 513x209" href='/images/help/BookUpload-Confirmation.png'><img src="/images/help/BookUpload-Confirmation-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
</tbody></table>
</div>


<h3 class='help'><a name="PoetHelp-2.0-MyBooks"></a>My Books</h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> All the books uploaded by a user appear in the My Books section. A user has complete access to only the books they have uploaded. Users may add and/or edit descriptions, update the status of descriptions, and delete their own books. </td>
<td class='confluenceTd'> The Books that are uploaded by a user show up here: <br class="atl-forced-newline" />  <span class="image-wrap" style=""><img src="/images/help/MyBooks-Poet-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2 </td>
<td class='confluenceTd'> You can mark all the images in a single book as essential by clicking <b>Mark All Essential</b>.&nbsp; <br class="atl-forced-newline" />
Once descriptions are complete, you can approve all descriptions in a single book by clicking on <b>Approve Image Description</b>. <br class="atl-forced-newline" />
You can delete a title by clicking on <b>Delete</b>.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
Clicking on <b>UID of a title</b> will generate an image description check and report.&nbsp; <br class="atl-forced-newline" />
Clicking on <b>the book title link</b> will open it in the description pane, where you can describe individual images. </td>
<td class='confluenceTd'> <span class="image-wrap" style=""><img src="/images/help/My-Books-2-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
</tbody></table>
</div>


<h3 class='help'><a name="PoetHelp-2.0-TaggingImagesforDescription%26nbsp%3B"></a><b>Tagging Images for Description&nbsp;</b></h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> To add or edit image descriptions in a DAISY file, click the Edit link on the Poet home page. On the next page, enter the ID (from Step 4 above) of the book you wish to work on the in the Book ID field and click the Edit button. <br class="atl-forced-newline" />
The book will open in Poet with a navigation frame (images only) on the left, and a reading/editing frame (with images and their surrounding text) on the right. <br class="atl-forced-newline" />
<b>Note</b>: If a description already exists for an image, it will appear in the Previous Description box just beneath the image. New (and revised) descriptions are entered in the lower New Description box. </td>
<td class='confluenceTd'> The Poet image description interface: <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 1279x633" href='/images/help/Description_Main.png'><img src="/images/help/Description_Main-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2. </td>
<td class='confluenceTd'> Each book contains images that need different types of descriptions. You will need to determine which images are relevant to the educational experience of your student(s). &nbsp;Some images may not enhance the learning experience and can be skipped (and tagged as non-essential). &nbsp;Some images may be redundant to the text or existing captions, they may be duplicate images, or they may not be vital to the content. <br class="atl-forced-newline" />
<b>Note</b>: To understand which images should be described and learn about creating effective image descriptions, click the Information icon (blue circle with the letter "i") at the top of the navigation frame. <br class="atl-forced-newline" />
Follow the links in the Image Description Guidelines to obtain the information you need. </td>
<td class='confluenceTd'> Image Description Guidelines : <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 1275x677" href='/images/help/Guidelines.png'><img src="/images/help/Guidelines-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 3 </td>
<td class='confluenceTd'> Books are presented in Parts for ease of use. &nbsp;Each Part contains about 200 images. &nbsp;Begin by selecting the Part you wish to describe. &nbsp;A second drop down menu at the top of the image navigation pane allows you to filter and view images in the following categories: &nbsp;All images, only essential, only non-essential, description needed and unspecified. </td>
<td class='confluenceTd'> Images matching the filtering criteria.&nbsp;<b>Note</b>: the filter only applies to the images in the navigation frame. All images are still visible in the editing frame.&nbsp; <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><img src="/images/help/Description_TopNavArea-thumb.png" width="300" style="border: 1px solid black" /></span> </td>
</tr>
<tr>
<td class='confluenceTd'> 4. </td>
<td class='confluenceTd'> Beneath each image in the navigation frame is a drop down menu which allows you to tag images. &nbsp;To indicate that an image doesn't need describing, select "No" from the "Should be described". If an image should be described, select "Yes;" if uncertain, select "Unspecified." <br class="atl-forced-newline" />
Your selections are saved as they are made. To change a selection, merely choose another option from the drop down list and it will become the current choice. </td>
<td class='confluenceTd'> <span class="image-wrap" style=""><img src="/images/help/Image_tagging-thumb.png" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
</tbody></table>
</div>


<h3 class='help'><a name="PoetHelp-2.0-Creatinganeworeditinganexistingimagedescription"></a><b>Creating a new or editing an existing image description</b></h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> <b>Note</b>: This instruction assumes you already have a book open in Poet for image describing. If not, click the Edit link from the Poet home page, enter the book ID and click the Edit button. <br class="atl-forced-newline" />
In order to focus on only those images requiring description, select the "Description Needed" from the filter drop down box at the heading of the left navigation frame. </td>
<td class='confluenceTd'> An image of Poet's description screen. On the left you can see a panel to filter images by various methods, on the right side you can see the content of the title (text with images.) <br class="atl-forced-newline" />
&nbsp; <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><img src="/images/help/Description_Main-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" />  <br class="atl-forced-newline" />
<br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2 </td>
<td class='confluenceTd'> Only the images designated as "Should be described," will now appear in the left navigation frame.&nbsp; <br class="atl-forced-newline" />
Select an image to describe by clicking on that image in the left navigation frame. Poet will scroll to that image in the reading/editing area in the right frame.&nbsp;&nbsp;The opposite screenshot shows an image with no previous description. &nbsp;Click on Add Description button to start describing this image. <br class="atl-forced-newline" /> </td>
<td class='confluenceTd'> The screen shows an image with no previous description. <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><img src="/images/help/Description_Pane-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 3 </td>
<td class='confluenceTd'> Clicking on the Add Description button will open the description panel for that image. The description panel shows a subset of elements from the Diagram content model. A describer has the option to enter any of the following data elements as part of description for this image: <br class="atl-forced-newline" />
<ul>
	<li>Long Description</li>
	<li>Summary</li>
	<li>Simplified Language Description</li>
	<li>Annotation</li>
	<li>Target Age &amp; Grade</li>
	<li>Tactile Image Source &amp; Tour <br class="atl-forced-newline" />
&nbsp;For a complete description of what a Content Model is and how to use it for effective descriptions, please see <a href="http://www.diagramcenter.org/development/content-model.html" class="external-link" rel="nofollow">here.</a><br class="atl-forced-newline" /> </li>
</ul>
</td>
<td class='confluenceTd'> Description fields will be displayed on the right of the image you have selected. &nbsp;The screen below lists all the possible data elements that can be described for a description. <br class="atl-forced-newline" />
<br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 946x917" href='/images/help/DescriptionPanel-ContentModel.png'><img src="/images/help/DescriptionPanel-ContentModel-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 4 </td>
<td class='confluenceTd'> For some fields Poet provides an HTML editor and MathHelper. HTML Editor is especially useful if you want to enter a data table, or other basic HTML tags. <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
To facilitate the description of simple mathematical graphs, equations and functions Poet provides MathHelper. You will only see MathHelper below the description fields that accept mathematics input. See Adding Mathematics in descriptions section below for how to enter maths in descriptions. <br class="atl-forced-newline" />
<br class="atl-forced-newline" /> </td>
<td class='confluenceTd'> <span class="image-wrap" style=""><img src="/images/help/Description_Editor-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 5 </td>
<td class='confluenceTd'> Once you are done with your description, hit Save. A confirmation message will inform that the description has been saved, and it immediately becomes part of the file. </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><img src="/images/help/DescriptionSaved-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
</tbody></table>
</div>


<h3 class='help'><a name="PoetHelp-2.0-AddingMathematicsindescriptions"></a>Adding Mathematics in descriptions</h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1 </td>
<td class='confluenceTd'> Certain fields in the content model allow users to enter Mathematics using Math Helper. You can Show/Hide Math Helper using the toggle button below the description box. <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
<b>Note</b>: The Math Helper only appears for images that need Mathematics input. <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
<br class="atl-forced-newline" /> </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><img src="/images/help/Description-Mathelper-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2 </td>
<td class='confluenceTd'> When Math Helper is visible, you will see an &nbsp;Equation Editor box with an equation rendering area beneath it.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
You use a standard ASCII input to type the equation in the Equation Editor. To see some examples and help, please click the link "examples". </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><img src="/images/help/MathHelper-2-thumb.png" width="300" style="border: 1px solid black" /></span> </td>
</tr>
<tr>
<td class='confluenceTd'> 3 </td>
<td class='confluenceTd'> Once you have entered an equation in the Equation Editor box, click Add to Long Description to move the math equation to the description field above it.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
If you want to edit your mathematical equation or formula, you simply re-write the equation in the Equation Editor box and Add to description field again. &nbsp;The most current description will always&nbsp;supersede&nbsp;the previous description. </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><img src="/images/help/Move-MathDescription-thumb.png" height="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 4 </td>
<td class='confluenceTd'> To preview the contents of a description including mathematics and other description elements click on Preview. Preview will render the content of its field. Again to correct any error in the content of the description field click edit. Equation Editor content can only be edited in Equation Editor itself.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
Continue entering descriptions in remaining the fields. Once you are done, click on Save. &nbsp;The content of all descriptions are added to the Poet database.&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
Caution: You must save each description as you write them, or they will be lost. &nbsp; &nbsp;&nbsp; <br class="atl-forced-newline" />
On successful saving, you will see the message, "The description has been saved". &nbsp;Then you can move on to the next image. </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><img src="/images/help/Description_Preview-thumb.png" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 5 </td>
<td class='confluenceTd'> If you need help in entering equations, click examples link next to an Equation Editor. The link point to this url, please click here for more details: <br class="atl-forced-newline" />
<br class="atl-forced-newline" />
<a href="http://www1.chapman.edu/~jipsen/mathml/asciimathsyntax.html" class="external-link" rel="nofollow">Equation Editor documentation</a><br class="atl-forced-newline" /> </td>
<td class='confluenceTd'> <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 1920x1080" href='/images/help/Equation_Editor_help.png'><img src="/images/help/Equation_Editor_help-thumb.png" style="border: 1px solid black" /></a></span> </td>
</tr>
<tr>
<td class='confluenceTd'>&nbsp;</td>
<td class='confluenceTd'>&nbsp;</td>
<td class='confluenceTd'>&nbsp;</td>
</tr>
</tbody></table>
</div>




<h3 class='help'><a name="PoetHelp-2.0-UpdateaDAISYBookwiththeLatestImageDescriptions%26nbsp%3B"></a><b>Update a DAISY Book with the Latest Image Descriptions&nbsp;</b></h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> When the image descriptions for a book have been completed, they should be processed from the server into the original DAISY file on your computer. <br class="atl-forced-newline" />
From the Poet home page, click on the Process link. On the Update DAISY Book Image Descriptions screen, click the Browse (or Choose file) button. </td>
<td class='confluenceTd'> The Update DAISY Book Image Descriptions screen : <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 762x494" href='/images/help/UpdateWithDescriptions.png'><img src="/images/help/UpdateWithDescriptions-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" />
&nbsp; <br class="atl-forced-newline" />
<br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2. </td>
<td class='confluenceTd'> A file selection dialog box will open showing your computer's file structure. <br class="atl-forced-newline" />
Locate and select your DAISY file, then click Open. You are returned to the Update DAISY Book Image Descriptions page with the file name populated. <br class="atl-forced-newline" />
If the file is password protected, enter it in the password field, otherwise leave it blank. </td>
<td class='confluenceTd'> File Upload dialog box (Mac appearance): <br class="atl-forced-newline" />
 <span class="image-wrap" style=""><img src="/images/help/FileBrowse-thumb.png" width="300" style="border: 1px solid black" /></span><br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 3. </td>
<td class='confluenceTd'> Click the Process button. This will process the image descriptions into the DAISY file on the server and download the zip file to your computer so that you can re-publish it to your library or read it with a tool which supports the voicing of prodnotes. </td>
<td class='confluenceTd'> Look into your default download folders to find the title with updated descriptions. </td>
</tr>
</tbody></table>
</div>


<h3 class='help'><a name="PoetHelp-2.0-CheckImage%28Description%29Coverage"></a><b>Check Image (Description) Coverage</b></h3>

<div class='table-wrap'>
<table class='confluenceTable'><tbody>
<tr>
<th class='confluenceTh'> <b>Step</b> </th>
<th class='confluenceTh'> <b>Process</b> </th>
<th class='confluenceTh'> <b>What you see</b> </th>
</tr>
<tr>
<td class='confluenceTd'> 1. </td>
<td class='confluenceTd'> To check the image description coverage for a title, go to the Image Coverage Checker and click on Check. On the next screen click the Browse (or Choose File) button below, and select a DAISY 3 book (zip) file from your local drive to process. Click Check button to being the check. </td>
<td class='confluenceTd'> The screen shows the title upload screen: <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 736x320" href='/images/help/ImageChecker-Upload.png'><img src="/images/help/ImageChecker-Upload-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" />
&nbsp; <br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 2. </td>
<td class='confluenceTd'> A file selection dialog box will open showing your computer's file structure. <br class="atl-forced-newline" />
Locate and select your DAISY file, then click Open. You are returned to the Update DAISY Book Image Descriptions page with the file name populated. <br class="atl-forced-newline" />
If the file is password protected, enter it in the password field, otherwise leave it blank. </td>
<td class='confluenceTd'> File Upload dialog box (Mac appearance):<br class="atl-forced-newline" />
 <span class="image-wrap" style=""><img src="/images/help/FileBrowse-thumb.png" width="300" style="border: 1px solid black" /></span><br/>
&nbsp; <br class="atl-forced-newline" /> </td>
</tr>
<tr>
<td class='confluenceTd'> 3 </td>
<td class='confluenceTd'> The result of running the Image Coverage Checker will display the: <br class="atl-forced-newline" />
<ul>
	<li>Total Images described</li>
	<li>Total Descriptions</li>
	<li>Total Number of Images</li>
	<li>Essential Images that still need description</li>
	<li>Total Essential Images</li>
</ul>
</td>
<td class='confluenceTd'> The screen shows the result of running an image coverage check: <br class="atl-forced-newline" />  <span class="image-wrap" style="float: right"><a class="confluence-thumbnail-link 578x359" href='/images/help/ImageChecker-Result.png'><img src="/images/help/ImageChecker-Result-thumb.png" style="border: 1px solid black" /></a></span><br class="atl-forced-newline" /> </td>
</tr>
</tbody></table>





 </div>
</div>
</body>