 <style type="text/css">
 	.toolbar	{ position:fixed; top:1px; left:1px; padding:10px; font-family:Arial;  background:#fffea1; border:2px solid #fc0; font-size: 80%;}
 	</style>
 	
 	<div class="toolbar" style="width:870px;">
 	  	 <b> Title: <%= @book.title %></b>
 
 	</div>
 	
 	<%=yield%>